In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import random

In [2]:
# Read in wine data
wine_df = pd.read_csv("wine.csv", sep=";")
wine_df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.5,0.33,0.32,11.1,0.036,25.0,119.0,0.99620,3.15,0.34,10.5,6
1,6.3,0.27,0.29,12.2,0.044,59.0,196.0,0.99782,3.14,0.40,8.8,6
2,7.0,0.30,0.51,13.6,0.050,40.0,168.0,0.99760,3.07,0.52,9.6,7
3,7.4,0.38,0.27,7.5,0.041,24.0,160.0,0.99535,3.17,0.43,10,5
4,8.1,0.12,0.38,0.9,0.034,36.0,86.0,0.99026,2.80,0.55,12,6
...,...,...,...,...,...,...,...,...,...,...,...,...
2032,8.1,0.34,0.28,7.5,0.040,70.0,230.0,0.99558,3.14,0.55,9.8,6
2033,7.4,0.19,0.31,14.5,0.045,39.0,193.0,0.99860,3.10,0.50,9.2,6
2034,6.7,0.36,0.26,7.9,0.034,39.0,123.0,0.99119,2.99,0.30,12.2,7
2035,7.7,0.28,0.35,15.3,0.056,31.0,117.0,0.99980,3.27,0.50,9.6,5
2036,5.7,0.22,0.28,1.3,0.027,26.0,101.0,0.98948,3.35,0.38,12.5,7

In [3]:
# Create "region" column with random wine type dispersed randomly.

wine_df["region"] = pd.Series(
    random.choices(["Minho", "Dao", "Beira Atlantico", "Lisboa", "Tejo", "Setubal", "Madeira", "Algarve", "Alentejo",
                    "Beira Interior", "Terras De Cister", "Douro Valley", "Transmontano",  ], weights=[1, 1, 1, 1, 1, 1,
                    1, 1, 1, 1, 1, 1, 1], k=len(wine_df)),
    index=wine_df.index
)
wine_df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,region
0,7.5,0.33,0.32,11.1,0.036,25.0,119.0,0.99620,3.15,0.34,10.5,6,Tejo
1,6.3,0.27,0.29,12.2,0.044,59.0,196.0,0.99782,3.14,0.40,8.8,6,Tejo
2,7.0,0.30,0.51,13.6,0.050,40.0,168.0,0.99760,3.07,0.52,9.6,7,Douro Valley
3,7.4,0.38,0.27,7.5,0.041,24.0,160.0,0.99535,3.17,0.43,10,5,Beira Interior
4,8.1,0.12,0.38,0.9,0.034,36.0,86.0,0.99026,2.80,0.55,12,6,Alentejo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032,8.1,0.34,0.28,7.5,0.040,70.0,230.0,0.99558,3.14,0.55,9.8,6,Dao
2033,7.4,0.19,0.31,14.5,0.045,39.0,193.0,0.99860,3.10,0.50,9.2,6,Setubal
2034,6.7,0.36,0.26,7.9,0.034,39.0,123.0,0.99119,2.99,0.30,12.2,7,Transmontano
2035,7.7,0.28,0.35,15.3,0.056,31.0,117.0,0.99980,3.27,0.50,9.6,5,Terras De Cister
2036,5.7,0.22,0.28,1.3,0.027,26.0,101.0,0.98948,3.35,0.38,12.5,7,Tejo

In [4]:
# Create "color" column with the three typical colors dispersed randomly. 

wine_df["color"] = pd.Series(random.choices(["Red", "White", "Rose"], weights=[1, 1, 1,], k=len(wine_df)),
                                  index=wine_df.index)

wine_df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,region,color
0,7.5,0.33,0.32,11.1,0.036,25.0,119.0,0.99620,3.15,0.34,10.5,6,Tejo,White
1,6.3,0.27,0.29,12.2,0.044,59.0,196.0,0.99782,3.14,0.40,8.8,6,Tejo,Rose
2,7.0,0.30,0.51,13.6,0.050,40.0,168.0,0.99760,3.07,0.52,9.6,7,Douro Valley,Red
3,7.4,0.38,0.27,7.5,0.041,24.0,160.0,0.99535,3.17,0.43,10,5,Beira Interior,White
4,8.1,0.12,0.38,0.9,0.034,36.0,86.0,0.99026,2.80,0.55,12,6,Alentejo,Rose
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032,8.1,0.34,0.28,7.5,0.040,70.0,230.0,0.99558,3.14,0.55,9.8,6,Dao,Rose
2033,7.4,0.19,0.31,14.5,0.045,39.0,193.0,0.99860,3.10,0.50,9.2,6,Setubal,Rose
2034,6.7,0.36,0.26,7.9,0.034,39.0,123.0,0.99119,2.99,0.30,12.2,7,Transmontano,Rose
2035,7.7,0.28,0.35,15.3,0.056,31.0,117.0,0.99980,3.27,0.50,9.6,5,Terras De Cister,Red
2036,5.7,0.22,0.28,1.3,0.027,26.0,101.0,0.98948,3.35,0.38,12.5,7,Tejo,Rose

In [5]:
wine_df['id'] = wine_df.reset_index().index
wine_df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,region,color,id
0,7.5,0.33,0.32,11.1,0.036,25.0,119.0,0.99620,3.15,0.34,10.5,6,Tejo,White,0
1,6.3,0.27,0.29,12.2,0.044,59.0,196.0,0.99782,3.14,0.40,8.8,6,Tejo,Rose,1
2,7.0,0.30,0.51,13.6,0.050,40.0,168.0,0.99760,3.07,0.52,9.6,7,Douro Valley,Red,2
3,7.4,0.38,0.27,7.5,0.041,24.0,160.0,0.99535,3.17,0.43,10,5,Beira Interior,White,3
4,8.1,0.12,0.38,0.9,0.034,36.0,86.0,0.99026,2.80,0.55,12,6,Alentejo,Rose,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032,8.1,0.34,0.28,7.5,0.040,70.0,230.0,0.99558,3.14,0.55,9.8,6,Dao,Rose,2032
2033,7.4,0.19,0.31,14.5,0.045,39.0,193.0,0.99860,3.10,0.50,9.2,6,Setubal,Rose,2033
2034,6.7,0.36,0.26,7.9,0.034,39.0,123.0,0.99119,2.99,0.30,12.2,7,Transmontano,Rose,2034
2035,7.7,0.28,0.35,15.3,0.056,31.0,117.0,0.99980,3.27,0.50,9.6,5,Terras De Cister,Red,2035
2036,5.7,0.22,0.28,1.3,0.027,26.0,101.0,0.98948,3.35,0.38,12.5,7,Tejo,Rose,2036

In [6]:
for i, val in wine_df['alcohol'].iteritems():
    if val.count('.') >= 2:
        wine_df.drop(i, inplace=True)

wine_df['alcohol'] = wine_df['alcohol'].astype(float)

In [7]:
wine_chemical_properties_df = wine_df[['fixed_acidity','volatile_acidity','citric_acid','residual_sugar','chlorides','free_sulfur_dioxide','total_sulfur_dioxide','id']]
wine_chemical_properties_df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,id
0,7.5,0.33,0.32,11.1,0.036,25.0,119.0,0
1,6.3,0.27,0.29,12.2,0.044,59.0,196.0,1
2,7.0,0.30,0.51,13.6,0.050,40.0,168.0,2
3,7.4,0.38,0.27,7.5,0.041,24.0,160.0,3
4,8.1,0.12,0.38,0.9,0.034,36.0,86.0,4
...,...,...,...,...,...,...,...,...
2032,8.1,0.34,0.28,7.5,0.040,70.0,230.0,2032
2033,7.4,0.19,0.31,14.5,0.045,39.0,193.0,2033
2034,6.7,0.36,0.26,7.9,0.034,39.0,123.0,2034
2035,7.7,0.28,0.35,15.3,0.056,31.0,117.0,2035
2036,5.7,0.22,0.28,1.3,0.027,26.0,101.0,2036

In [8]:
wine_properties_df = wine_df[['density','pH','sulphates','alcohol','id']]
wine_properties_df

      density    pH  sulphates  alcohol    id
0     0.99620  3.15       0.34     10.5     0
1     0.99782  3.14       0.40      8.8     1
2     0.99760  3.07       0.52      9.6     2
3     0.99535  3.17       0.43     10.0     3
4     0.99026  2.80       0.55     12.0     4
...       ...   ...        ...      ...   ...
2032  0.99558  3.14       0.55      9.8  2032
2033  0.99860  3.10       0.50      9.2  2033
2034  0.99119  2.99       0.30     12.2  2034
2035  0.99980  3.27       0.50      9.6  2035
2036  0.98948  3.35       0.38     12.5  2036

[2020 rows x 5 columns]

In [9]:
wine_region_quality_df = wine_df[['quality','region','color','id']]
wine_region_quality_df

      quality            region  color    id
0           6              Tejo  White     0
1           6              Tejo   Rose     1
2           7      Douro Valley    Red     2
3           5    Beira Interior  White     3
4           6          Alentejo   Rose     4
...       ...               ...    ...   ...
2032        6               Dao   Rose  2032
2033        6           Setubal   Rose  2033
2034        7      Transmontano   Rose  2034
2035        5  Terras De Cister    Red  2035
2036        7              Tejo   Rose  2036

[2020 rows x 4 columns]

In [10]:
wine_chemical_properties_df.to_csv("wine_chemical_properties.csv", index=False)

In [11]:
wine_properties_df.to_csv("wine_properties.csv", index=False)

In [12]:
wine_region_quality_df.to_csv("wine_region_quality.csv", index=False)

In [13]:
# wine_df.to_csv("Wine_RegionColor.csv", index=False)